@page "/aboutme"
<h3>AboutMe</h3>

<div>
    <p>
        Welcome to my page, my name is Jerome and i'm passionate about technology,  I love learning new things and i'm interested in all things code related.
    </p>
</div>

@code {

}
