@page "/projects"
@using WebsitePortfolioJTorres.Client.Pages.ProjectsFolder

<!--Header-->
<h2 style="text-align:center; color:black">My Projects</h2>

<!--Body-->
<DisplayProjects Title="Projects"/>

@code {

}
