@page "/projects"
@using WebsitePortfolioJTorres.Client.Pages.ProjectsFolder
@inject NavigationManager urlNavigationManager


<!--Header-->
<header style="background-color:black">
    <button type="submit" class="btn btn-link" style="float:right" @onclick="ReturnHome"><b>Return Home</b></button>
    <br /><br />
    <h1 style="text-align:center; color:#fed136; border-bottom-style:groove">
        My Portfolio
    </h1>
</header>



<!--Body-->
@*<body style="background-color:#f8f9fa">
    <DisplayProjects Title="Projects" />
</body>*@
<DisplayProjects Title="My Projects"/>


<footer>
    <small><b>&copy; 2020 - JeromeTorresP6WebsitePortfolio</b> </small>
</footer>

@code {
    private void ReturnHome()
    {
        urlNavigationManager.NavigateTo("/");
        StateHasChanged();
    }

}
