@page "/resume"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WebsitePortfolioJTorres.Shared
@using WebsitePortfolioJTorres.Client.Pages.ContactsFolder
@using WebsitePortfolioJTorres.Client.Pages.EducationFolder
@using WebsitePortfolioJTorres.Client.Pages.ExperienceFolder
@*@attribute [Authorize]*@
@*@inject HttpClient Http*@
<!--Header-->
<h2 style="text-align:center; color:black">My Resume</h2>
<h4>About Me</h4>
<div>
    Now, this is a story all about how
    My life got flipped-turned upside down
    And I'd like to take a minute
    To sit right there
    I'll tell you how I became the prince of a town called Bel Air
</div>
<br />
<br />

<!--Body-->
<DisplayContacts Title="Contact Me" />
<DisplayEducation Title="Education" />
<DisplayExperience Title="Experience" />



@code {

}
