@page "/test"
<h3 style="background-image: url('/StaticFiles/images/matrixbackground.jpg'); background-size:contain">test1</h3>


<table class="table-responsive-lg">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
    </thead>
</table>

@*<body style="background-image: url('/StaticFiles/images/matrixbackground.jpg')">

</body>*@

@*<img src="/StaticFiles/images/matrixbackground.jpg" style="" />*@

@code {

}
